@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --elytro-background-image: linear-gradient(
      to top right,
      #fbfbf9 0%,
      #f7f1f0 24%,
      #b7cde7 100%
    );
    --elytro-btn-bg: linear-gradient(
      to right,
      #f0eee6 0%,
      #f5edeb 36%,
      #bad5f5 80%
    );
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 200 44% 24%;
    --primary-foreground: 199, 42%, 86%;
    --secondary: 199, 42%, 86%;
    --secondary-foreground: 200, 44%, 24%;
    --tertiary: 222, 8%, 76%;
    --tertiary-foreground: 223, 42%, 15%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 1rem;
    --hover-primary: 200 53% 60%;
    --hover-primary-foreground: 0 0% 100%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 199, 42%, 86%;
    --secondary-foreground: 200, 44%, 24%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    user-select: none;
  }
}

@layer components {
  .elytro-text-hero {
    @apply text-[52px] font-medium leading-[100%] text-black-blue;
  }
  .elytro-text-headline {
    @apply text-[40px] font-medium leading-[100%] text-black-blue;
  }

  .elytro-text-subtitle {
    @apply text-[28px] font-medium leading-[105%] text-black-blue;
  }

  .elytro-text-body {
    @apply text-[18px] font-normal leading-[125%] text-black-blue;
  }

  .elytro-text-bold-body {
    @apply elytro-text-body font-medium;
  }

  .elytro-text-small-body {
    @apply text-[16px] font-normal leading-[130%] text-black-blue;
  }

  .elytro-text-small-bold-body {
    @apply elytro-text-small-body font-medium;
  }

  .elytro-text-smaller-body {
    @apply text-[14px] font-normal leading-[135%] text-black-blue;
  }

  .elytro-text-smaller-bold-body {
    @apply elytro-text-smaller-body font-medium;
  }

  .elytro-text-tiny-body {
    @apply text-[12px] font-normal leading-[140%] text-black-blue;
  }

  .elytro-text-tiny-bold-body {
    @apply elytro-text-tiny-body font-medium;
  }
}
